body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  background-color: black;
}

#container {
  height: 80vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom-left-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
}

#message {
  font-size: 1em;
  color: white;
}

#bottom-right-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

#canvas {
  height: 100%;
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.8);
  background-color: black;
}

#start-timer {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #ef1718;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;
}

#end-timer {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #3ee854;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
}

@media screen and (max-width: 600px) {
  #container {
    height: 55vh;
    width: 80vw;
  }
}

#btn {
  background-color: #111111;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  top: -1px;
}
